<center>
    <img src="/assets/logo.jpg" class="logo">
  </center>
  <br>
  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/how'>How to use Finwise</a></li>
      <li><a href='/auth/login'>Login</a></li>
      <li><a href='/about'>About</a></li>
    </ul>
  </nav>
  <center>
    <img src="/assets/home2.jpg" class="homeimg">
    <div class="finance-management">
      <p>
        Finwise management software is a powerful tool designed to streamline and optimize the management of your monthly finances. This software encompasses a wide range of features and capabilities, including budgeting, expense tracking, and financial reporting. It empowers businesses, both large and small, to efficiently track their income and expenses, make informed financial decisions, and maintain financial transparency. With the automation of repetitive financial tasks, such as data entry and reconciliation, financial management software helps reduce errors and saves valuable time, allowing finance professionals to focus on strategic planning and analysis. Additionally, it enhances collaboration by providing real-time access to financial data for stakeholders and supports compliance with regulatory requirements. Overall, financial management software is an indispensable tool for modern businesses looking to achieve financial stability and growth in an increasingly complex financial landscape.
      </p>
      <br>
      <b>Finwise is designed by:</b>
      <br>
      <b>Hazkeel Qureshi</b>
      <br>
      <b>Mohan Beckford</b>
      <br>
      <b>Nathan Farquhar-Kay</b>
      <br>
      <b>Sanjeeth Tharmarajah</b>
      <br><br><br><br><br>
    </div>
    <br>
    <div class="container">
      <img src="/assets/expenses.jpg" alt="Expenses" class="imgfinance">
      <div class="centered">Expense Tracker</div>
    </div>
    <div class="container">
      <img src="/assets/budgets.jpg" alt="Budgets" class="imgfinance">
      <div class="centered">Budget Management</div>
    </div>
    <div class="container">
      <img src="/assets/datas.jpg" alt="Datas" class="imgfinance">
      <div class="centered">Data Visualization</div>
    </div>
    <p class="paragraph">Please, click Get Started button below to start to use our Finance Management System</p>
    <a href="/auth/login"><button class="button">Get Started</button></a>
    <br>
    <br>
  </center>