<center>
    <img src="/assets/logo.jpg" class="logo">
  </center>
  <br>
  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/dashboard'>Dashboard</a></li>
      <li><a class='dropdown-arrow' href='#'>Manage Finance</a>
        <ul class='sub-menus'>
          <li><a href='/dashboard/expensetracking'>Expense Tracking</a></li>
          <li><a href='/dashboard/budgetmanagement'>Budget Management</a></li>
          <li><a href='/dashboard/transactionhistory'>Transaction History</a></li>
          <li><a href='/dashboard/datainsight'>Data Insights</a></li>
        </ul>
      </li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/about'>About</a></li>
    </ul>
  </nav>
  <center>
    <img src="/assets/home.jpg" class="homeimg">
    <div class="finance-management">
      Finwise is a finance management system that is a critical tool for individuals, businesses, and organizations to effectively oversee and control their financial resources. It encompasses a wide range of processes and tools designed to optimize financial performance and achieve specific financial goals. These systems typically involve budgeting management, expense tracking, investment management, and transaction history. By meticulously tracking budget & expenses; Finwise finance management systems provide valuable insights for decision-makers to make informed choices about financial planning. Whether for personal financial stability, business growth, or nonprofit sustainability, a robust finance management system is an indispensable asset in today's complex financial landscape, helping individuals and entities navigate the intricacies of fiscal responsibility and success.
    </div>
    <br>
    <div class="container">
      <img src="/assets/expenses.jpg" alt="Expenses" class="imgfinance">
      <div class="centered">Expense Tracker</div>
    </div>
    <div class="container">
      <img src="/assets/budgets.jpg" alt="Budgets" class="imgfinance">
      <div class="centered">Budget Management</div>
    </div>
    <div class="container">
      <img src="/assets/datas.jpg" alt="Datas" class="imgfinance">
      <div class="centered">Data Visualization</div>
    </div>
    <p class="paragraph">Please, click Get Started button below to start to use our Finance Management System</p>
    <a href="/login"><button class="button">Get Started</button></a>
    <br>
    <br>
  </center>