<center>
    <img src="/assets/logo.jpg" class="logo">
  </center>
  <br>
  <nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/how'>How to use Finwise</a></li>
      <li><a href='/auth/login'>Login</a></li>
      <li><a href='/about'>About</a></li>
    </ul>
  </nav>
  <center>
    <br><br>
      <h3>
        Finwise Budget Management System can be used in 4 simple steps
      </h3>
      <br>
      <div class="finance-management">
      <p align="left">
      <b>Step 1: Click on Get Started in Home Page</b>
      <br>
      <b>Step 2: Sign Up or Login</b>
      <br>
      <b>Step 3: Add Budget</b>
      <br>
      <b>Step 4: Add Expense (and then you can edit expenses aswell)</b>
      <br>
      <b>Please see video on how to use Finwise</b>
      <br><br><br><br>
      </p>
      </div>
      <iframe style="max-width:560px; width:100%; height:315px; border:5px solid #054878; border-radius:5px;" src="https://www.youtube.com/embed/PB8HxYjT2iU?si=WFUQeAEyhhb-yoH9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <div class="container">
      <img src="/assets/expenses.jpg" alt="Expenses" class="imgfinance">
      <div class="centered">Expense Tracker</div>
    </div>
    <div class="container">
      <img src="/assets/budgets.jpg" alt="Budgets" class="imgfinance">
      <div class="centered">Budget Management</div>
    </div>
    <div class="container">
      <img src="/assets/datas.jpg" alt="Datas" class="imgfinance">
      <div class="centered">Data Visualization</div>
    </div>
    <p class="paragraph">Please, click Get Started button below to start to use our Finance Management System</p>
    <a href="/auth/login"><button class="button">Get Started</button></a>
    <br>
    <br>
  </center>